.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 6px 7px 32px 9px rgba(0, 0, 0, 0.08);
}

.nav-buttons {
    font-size: 24px;

    margin-right: 50px;
    color: var(--red-ish);
}



.nav-link {
    text-decoration: none;
    margin: 20px 20px 20px 50px;
    font-size: 30px;
    color: var(--red-ish);
}

@media only screen and (max-width: 500px) {
    .nav-link {
        font-size: 16px;
    }
    .nav-buttons {
        font-size: 20px;
        width: 25px;
        margin: 10px;
    }
    .nav-link {
        margin: 20px;
    }
    .navbar {

    }
    .nav-buttons-container {
        width: auto;
        display: flex;
        justify-content: space-around;
    }
}
