.video-chat {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    height: 90vh;
    width: 100%;
}

.video-feed {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(12, 8.5%);
    height: 100%;
}

.incoming-vid {
    grid-row: 2/8;
    grid-column: 3/9;
    /*background-color: var(--blue-ish);*/
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selfie-vid {
    grid-row: 9/12;
    grid-column: 7/10;
    /*background-color: var(--blue-ish);*/
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.local-video, .remote-video {
    width: 90%;
    box-shadow: 6px 7px 32px 9px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
}

.text-popup {
    background-color: var(--blue-ish);
    grid-row: 10/12;
    grid-column: 2 /5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 6px 7px 32px 9px rgba(0, 0, 0, 0.10);

}

.ice-breaker {
    font-size: 14px;
    margin: 15px;
    text-align: center;

}

.shuffle {
    font-size: 16px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 6px 7px 32px 9px rgba(0, 0, 0, 0.10);
}

