@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400&display=swap');

:root {
  --red-ish: rgba(251, 155, 155, 0.9);
  --light-red-ish: rgba(251, 155, 155, 0.4);
  --blue-ish: #BEFBFF;
}


:root, body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Saira, serif;
}

button {
  border: none;
}

input:focus, button:focus {
  outline: none;
}
